* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
     /* Landing Page Styles */
     
    .grid-item {
        margin: 12px;
    }
}
  
  /* Tablet Styles */
  @media only screen and (min-width: 401px) and (max-width: 960px) {
    
    /* Landing Page Styles */

    /* .selection-rectangle {
        display: none;
    } */

    .landing-page-container {
        display: flex;
        min-height: 100vh; 
        justify-content: center;
    }

    .landing-page {
        flex: 1;
        max-width: 590px;
    }

    .nav-row {
        display: flex;
    }

    .name-design-container {
        display: flex;
        justify-content: center;
    }

    .name-design {
        width: 60%;
        height: 60%;
        padding-bottom: 50px;
        padding-top: 50px;
    }
    
    .grid-item {
        height: 10%;
        width: 10%;       
        margin: 20px;
        flex: 1;  
    }
  }
  
 /* Desktop Styles */
 @media only screen and (min-width: 961px) {


    /* Landing Page Styles */

    .landing-page-container {
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }

    .landing-page {
       display: flex;
       flex-direction: row-reverse;
       flex: 1;
       max-width: 1024px;
       padding-bottom: 100px;
    }
    
    .nav-grid {
        flex: 1;
    }
    
    .nav-grid-container {
        flex: 1;
        display: flex;
        align-items: center;
    }

    .nav-row {
        display: flex;
        flex: 1;
    }
    
    .grid-item {
        margin: 10px;  
        flex: 1;
    }

    .name-design-container {
        display: flex;
        flex: 1;
        max-width: 450px;
    }

    .name-design {
        margin: 0 auto;
        flex: 1;
    }

  }
