* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Transition Styles */

  .fade-enter {
    opacity: 0;
  }

  .fade-enter-active {
    opacity: 1;
    transition: opacity 200ms linear;
  }

  .fade-appear{
      opacity: 0;
  }

  .fade-appear-active{
   opacity: 1;
   transition: opacity 200ms linear;
  }

  .fade-exit {
    opacity: 1;
  }

  .fade-exit-active {
    opacity: 0;
    transition: opacity 200ms linear;
  }

/* General Styles */

a {
    text-decoration: none;
    color: black;
}

.portfolio-container, .about-container, .code-container, .writing-container , .generic-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-content {
    width: 100%;
}

.generic-container {
    flex-direction: column;
}

.code-container, .writing-container {
    justify-content: flex-start;
    margin-top: 25px;
}

.container, .content {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio, .about, .code, .writing {  
    width: 100%;
}

li {
    list-style: none;
}

/* Header Styles */

#header {
    display: flex;
    padding: 30px 30px 30px 30px;
    align-items: center;
}

#header-container {
    width: 100%;
    margin-bottom: 100px;
}

.header {
    width: 100%;
}

.name-button {
    display: flex;
    flex: 1;
    align-items: center;
}

.nav {
    display: flex;
    align-self: flex-start;
}

.nav-button-image {
    z-index: 0;
    position: absolute;
}

.nav-bar {
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.name-button {
    justify-content: flex-end;
}

.circular-nav-button {
    width: 30%;
}

/* .nav-button {
    width: 50%;
}

.nav-bar {
    padding-left: 10px;
    padding-bottom: 25px;
} */


.nav-bar-mobile {
    display: none;
}

.display-header {
    background-color: black;
}

.hide-image {
    display: none;
}

.header-name {
    width: 100%;
}

/* Landing Page Styles */

.white, .yellow, .blue, .red {
    display: none;
}

.name-design {
    margin: 10px; 
}

/* Portfolio Styles */

.pop-up {
    z-index: 2;
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-image: url(./images/svg/lattice-background-3.svg);
    background-size: 3000px; */
    
}

/* .fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms linear;
}

.fade-exit-done {
    opacity: 0;
}

.fade-enter {
    opacity: 0;
} */

/* .fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms linear;
}

.fade-enter-done {
    opacity: 1;
} */

.pop-up-caption {
    background-color: black;
    padding: 10px;
}

.pop-up-image, .pop-up-caption {
    width: 100%;
    max-height: 80vh;
}

.pop-up-caption {
    padding: 10px 10px 20px 10px;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.gallery-image {
    width: 90%;
    cursor: pointer;
}

.gallery-image, .arrow {
    cursor: pointer;
}

#exit-button {
    cursor: pointer;
}

.even {
    justify-self: flex-start;
    margin-bottom: 10px;
}

.odd {
    justify-self: flex-end;
    margin: 0px 10px 10px 0px;
}

.hidden {
    visibility: hidden;
}

.pop-up-caption p {
    color: white;
    font-family: objektiv-mk1, sans-serif;
    font-weight: 200;
    font-style: normal;
    font-size: 1em;
    margin-bottom: 2px;
}

.pop-up-caption em {
    font-family: objektiv-mk1, sans-serif;
    font-weight: 200;
    font-size: 1.4em;
    font-style: italic;
}

#gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.gallery-pop-up-container {
    display: flex;
    justify-content: center;
}

.show-form {
    font-weight: bold;
    font-style: italic;
}

.pop-up-image-and-caption {
    /* width: 40%; */
    min-width: 338px;
}

.pop-up-body {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

#arrow-left {
    transform: rotate(180deg);
}

#exit-button-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#exit-button {
    width: 15%;
    max-width: 60px;
}

.background-black {
    background-color: black;
}

/* About Styles */

.profile-container {
    display: flex;
}

.profile {
    width: 50%;
    min-width: 200px;
    margin-right: 15px; 
    margin-bottom: 40px;
    width: auto;
    height: auto;
}

.about-center-container {
    display: flex; 
    justify-content: center;
}

.centered-container {
    max-width: 700px;
    padding: 10px;
}

.centered-container h1, h2, p, li, h3 {
    font-family: objektiv-mk1, sans-serif;
    font-weight: 200;
    font-style: normal;
}


.centered-container h1 {
    font-size: 3em;
    font-style: italic;
    font-weight: bold;
}

h1.exclamation-2 {
    font-weight: 400;
}

h1.exclamation-3 {
    font-weight: 100;
}

.container h2 {
    font-size: 2em;
}

.writing-and-code-links em {
    font-weight: 400;
}

.container p, li {
    font-size: 1em;
}

h2 {
    margin-bottom: 25px;
}

.page-break {
    margin: 50px 0px 50px 0px;
}

.text-container {
    text-align: center;
}

.coursework {
    display: flex;
    justify-content: space-around;
}

.image-container {
    display: flex;
    margin-top: 50px; 
}

.image-container-reverse {
    flex-direction: row-reverse;
}

.image-container-links {
    justify-content: space-between;
    margin-bottom: 100px;
}

.image-container {
    max-width: 700px;
}
.about-page-image {
    width: 60%;
    height: 60%;
}

.image-caption-container {
    display: flex;
    align-items: center; 
}

.course-list {
    margin: 10px; 
}

.about-link {
    width: 30%;
}

.image-caption {
    margin: 0px 20px 0px 20px; 
    padding: 5px;
}

.image-caption p {
    text-align: center;
}

.text-container p {
    margin-bottom: 15px;
}

.about-links-container {
    display: flex;
}


.exclamation-1, .exclamation-2, .exclamation-3, .profile-text {
    text-align: center;
}

/* Writing and Code Styles */

.writing-and-code-links a:visited:hover {
    color: #0380BC;
}

.writing-and-code-links {
    margin-bottom: 75px;
}

.writing-and-code-links h2 {
    text-align: center;
    margin-bottom: 75px;
    font-weight: 200;
    font-style: normal;
}

.writing-and-code-links em {
    font-weight: 200;
    font-style: italic;
}

.code-snippet {
    font-family: monospace;
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
}

.code-arrow-container {
    display: flex;
    justify-content: center;
    margin: 30px 0px 30px 0px;
}

.white-arrow {
    transform: rotate(180deg);
    position: fixed;
    width: 10%;  
    max-width: 60px;
    left: 20px;
    bottom: 30px;
}

.code-text h2, p {
    text-align: center;
}

.writing-text p {
    text-align: start;
}

/* Mobile Styles */
@media only screen and (max-width: 415px) {  

    /* Mobile General Styles */ 

    .container {
        padding: 0px 10px 0px 10px;
    }

    /* Mobile Header Styles */ 

    .nav-bar-mobile {
        display: block;
        padding-bottom: 10px;
        margin-bottom: 40px;
        width: 100%;
    }

    .name-button-image {
        min-width: 240px;
    }

    .nav, .nav-button-image, .nav-bar {
        display: none;
    }

    #header-container {
        margin-bottom: 40px;
    }

    #header {
        display: flex;
        flex-direction: column;
    }

    .name-button {
        justify-content: center;
    }


    .nav-row-mobile {
        display: flex;
        justify-content: space-between;
    }

    .nav-button-mobile {
        margin: 20px;
        width: 45%;
    }

    .nav-button-image {
        width: 30%;
        min-width: 100px;
    }

     /* Mobile Landing Page Styles */
     
    .grid-item {
        margin: 12px;
    }

    /* Mobile Portfolio Styles */
    
    #gallery-container, .container {
        padding-top: 25px; 
        min-width: 240px;
    }

    .gallery, .form-container, .writing-and-code-links {
        width: 30%;
        min-width: 300px;
    }

    .pop-up {
        top: 0px;
        bottom: 0px;
        position: fixed;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: black;
    }

    .pop-up-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .pop-up-caption {
        text-align: center;
    }

    .pop-up-image {
        max-height: 425px;
        width: 100%;
        margin: 0 1 auto;
    }
    
    .pop-up-wide {
        width: 100%;
    }

    .form-container h2 {
        text-align: right;
        font-size: 1.2em;
    }

    .table, .arrow-container, .fixed-arrow {
        display: none;
    }


    /* Mobile About Styles */ 

    .profile {
        max-width: 270px;
    }

    .profile-container {
        flex-direction: column;
        align-items: center;
    }

    .exclamation-3 {
        margin-bottom: 30px;
    }

    .image-container {
        flex-direction: column;
        align-items: center;
    }

    .image-container-links {
        justify-content: space-between;
        margin-bottom: 100px;
    }

    .coursework {
        flex-direction: column;
        align-items: center;
    }

    .about-page-image {
        margin-bottom: 15px;
    }

    .about-links-container {
        justify-content: space-between;
        margin-bottom: 75px;
        padding: 10px;
    }

    .about-link {
        min-width: 90px;
    }

    .about-links-container {
        display: none;
    }

    /* Mobile Writing and Code Links */ 

    .writing-and-code-links h2 {
        font-size: 1.2em;
    }  
    
    .white-arrow {
        width: 15%;
        left: 10px;
    }
}
  
  /* Tablet Styles */
  @media only screen and (min-width: 415px) and (max-width: 960px) {
    
    /* Tablet Header Styles */
    
    .nav-button-image {
        width: 20%;
        max-width: 120px;
    }

    .nav-bar {
        width: 20%;
        max-width: 120px;
    }


    .name-button-image {
        width: 20%;
        min-width: 150px;
    }

    .content {
        padding-top: 0px;
    }

    #header-container {
        width: 100%;
    }
    
    .header {
        width: 100%;
    }

    .nav-button {
        width: 90%;
    }
    
    .name-button {
        display: flex;
        flex: 1;
        align-items: center;
    }
    
    
    /* Tablet Landing Page Styles */

    .landing-page-container {
        display: flex;
        min-height: 100vh; 
        justify-content: center;
    }

    .landing-page {
        flex: 1;
        max-width: 590px;
    }

    .nav-row {
        display: flex;
    }

    .name-design-container {
        display: flex;
        justify-content: center;
    }

    .name-design {
        width: 60%;
        height: 60%;
        padding-bottom: 50px;
        padding-top: 50px;
    }
    
    .grid-item {
        height: 10%;
        width: 10%;       
        margin: 20px;
        flex: 1;  
    }

     /* Tablet Portfolio Styles */

    /* #gallery-container, .container {
        padding-top: 50px; 
    } */

    .gallery, .writing-and-code-links {
        width: 50%;
        min-width: 350px;
    }

    .pop-up-body {
        display: flex;
    }
    
    .pop-up-narrow {
        width: 15%;
    }

    .pop-up-regular {
        width: 20%;
    }

    .pop-up-wide {
        width: 30%;
    }

    .pop-up-photo {
        width: 70%;
    }

    .arrow {
        width: 30%;
        min-width: 50px;
        max-width: 80px;
    }


    .form-container h2 {
        text-align: right;
        font-size: 1.5em;
    }

    .table, .fixed-arrow {
        display: none;
    }

    /* Tablet About Styles */

    .profile {
        max-width: 300px;
    }

    .profile-container {
        flex-direction: column;
        align-items: center;
    }

    .profile-text-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .exclamation-3 {
        margin-bottom: 30px;
    }

    .about-links-container {
        justify-content: space-between;
        margin-bottom: 75px;
    }

    .about-link {
        min-width: 120px;
    }

    /* Tablet Writing and Code Styles */

    .writing-and-code-links h2 {
        font-size: 1.2em;
    }  

    .white-arrow {
        width: 15%;
    }
  }
  

 /* Desktop Styles */
 @media only screen and (min-width: 961px) {

    /* Desktop Header Styles */ 
    
    .nav-button-image {
        width: 30%;
        max-width: 150px;
    }

    .nav-bar {
        width: 30%;
        max-width: 150px;
    }


    .name-button-image {
        width: 20%;
        min-width: 150px;
    }

    .content {
        padding-top: 0px;
    }

    #header-container {
        width: 100%;
        margin-bottom: 100px;
    }
    
    .header {
        width: 100%;
    }

    .nav-button {
        width: 90%;
    }
    
    .name-button {
        display: flex;
        flex: 1;
        align-items: center;
    }
     
    /* Desktop Landing Page Styles */

    .landing-page-container {
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }

    .landing-page {
       display: flex;
       flex-direction: row-reverse;
       flex: 1;
       max-width: 1024px;
       padding-bottom: 100px;
    }
    

    .nav-grid {
        flex: 1;
    }
    
    .nav-grid-container {
        flex: 1;
        display: flex;
        align-items: center;
    }

    .nav-row {
        display: flex;
        flex: 1;
    }
    
    .grid-item {
        margin: 10px;  
        flex: 1;
    }

    .name-design-container {
        display: flex;
        flex: 1;
        max-width: 450px;
        margin-left: 15px;
    }

    .name-design {
        max-width: 450px;
        margin: 0 auto;
        flex: 1;
    }

    /* Desktop Portfolio Styles */


    .gallery, .writing-and-code-links {
        width: 50%;
        min-width: 350px;
        max-width: 515px;
    }

    .pop-up-body {
        width: 100vw;
    }

    .pop-up-image-and-caption {
        min-width: 338px;
    }

    .pop-up-narrow {
        width: 25%;
    }

    .pop-up-regular {
        width: 35%;
    }

    .pop-up-wide {
        width: 40%;
    }

    .pop-up-photo {
        width: 50%;
    }

    .arrow {
        width: 30%;
        min-width: 50px;
        max-width: 80px;
    }


    .fixed-arrow {
        transform: rotate(270deg);
        width: 5%;  
        position: fixed;
        left: 20px;
        bottom: 30px;
        display: flex;
    }

    .back-button-container {
        display: none;
    }

    .profile {
        min-width: 200px;
        margin-right: 15px; 
        margin-bottom: 40px;
    }

    .profile-text-container {
        display: flex;
        flex-direction: column;
        max-width: 380px;
        justify-content: space-between;
    }

    .table {
        display: table;
        position: fixed;
        bottom: 20px;
        right: 20px;
    }
    
    ul#gallery-selector {
        list-style: none;
    }
    
    ul#gallery-selector li, .gallery-link {
        display: inline;
    }

    .form-container h2 {
        display: none;
    }

    .form-container {
        margin-bottom: 50px;
    }

    .gallery-page-break {
        margin: 100px 0px 100px 0px;
    }

    .hide-form {
        font-weight: 200;
        font-style: none;
    }

    /* Desktop Writing and Code Styles */

    .writing-and-code-links h2 {
        font-size: 1.5em;
    }

    .about-links-container {
        justify-content: space-between;
        margin-bottom: 75px;
    }

    .exclamation-1, .exclamation-2, .exclamation-3, .profile-text {
        text-align: left;
    }

    .white-arrow {
        width: 10%;
    }

     /* Desktop About Styles */

     .profile {
         max-height: 330px;
     }
  }
