<div class="container code-container" id="code-container">
        <div class="centered-container code-text">
        <h2>Functional Medicine App</h2>
        <p>During 2017 and 2018, along with fellow UNC computer science students Gabi Stein and Zak Lintz, I built a mobile application in Swift. Called P.O.M, or Personal Operating Manual, it was prototype built for the practitioners at Trinity Wellness Center as they sought to expand their services into the realm of functional medicine. At the beginning of every functional medicine consultation, the patient’s blood samples would be collected and analyzed by a lab separate from the practitioners. Then, the patient would receive the lab results and go over them with the practitioner. The app was intended to help the patients understand the labs when they weren’t with a practitioner. The patient could input their data straight from the lab report and receive information applicable to their situation, written by a Trinity practitioner and stored in the app. I designed the application using Xcode’s storyboard utility and helped Zak write code for the back end, while Gabi was the project manager. 
        </p><br>
        <p><strong><em>View on Github: </em></strong><a href="https://github.com/masonmcm/Functional-Medicine-App" target="_blank">Functional Medicine App</a></p>
        </div>
        <div class="code-arrow-container">
            <a class="white-arrow" href="code"><img src="images/svg/white-arrow.svg"></a>
        </div>
        </div>
</div>