<div class="container writing-container" id="writing-container">
        <div class="centered-container writing-text">


<h2><i>The Mill (2017)</i></h2>
<p><em>An autoethnography about my experience at Coastal Christian High School, written for ENGL283: Life Writing.</em></p>
<br>
<br>
<p>In eighth grade, Mr. T (the white, balding P.E. teacher, not B.A. from the <i>A-Team</i>) led the boy’s Sex Ed class. Seventh period elective was canceled that day, and our troop of dirty polo-wearing truants rolled into his classroom like a storm front. </p>
<br>
<p>Blinds lowered, projector clicked on, and the screen descended behind him. The hum coming from the ceiling brought silence upon the restless boys. Anticipation began to spread. Mr. T palmed a yardstick and brought it down like a scepter. He coughed loudly, drawing our attention. </p>
<br>
<p>He raised the stick, proclaiming: “Uh, welcome to sexual education.”</p>
<br>
<p>Before we could even giggle, an anatomical vagina flashed onto the screen. We stuffed shirts, pencil pouches, fists, whatever we could reach for, into our faces. A whisper from behind me: “I heard the other name for that is <i>pussy”</i>. His lisp made the “s” sounds come out like “th”.</p>
<br>
<p>After the reproductive process: the kicker. A video of a Christian motivational speaker— one of those spiritualized Tony Robbins types- diagnosing divine ailments and leaving people in cathartic tears. She begged, hands clasped pleadingly, beseeching us to stay away from sex, as long as it’s outside of the white-velvet confines of marriage. Take pride in your virginity! When you marry your soulmate, absurdly young, broke, and dying to finally bang, present your promise ring to them. You loved them enough to wait—here’s the proof!</p>
<br>
<p>The bell rang to dismiss, and the boys carefully stood, using one another for support. A few were still giggling. My friend Oliver and I beat them out of the room, sprinting down the hallway, screaming so that it reverberated off the lockers, “We’re virgins!”</p>
<br>
<br>
<p>And at 19, I still am. That is to say, Christian education worked on me. After Mr. T’s class I grew up to be a virgin who loves Jesus and volunteers at Church every Sunday. But since high school, certain aspects of my faith had to be reworked. When compared to some of my current peers and teachers, I look like a degenerate heathen. </p>
<br>
<p>Not only do I swear alot and believe in evolution, I deeply admire Benedict de Spinoza and Bernie Sanders, and I've wanted to see <i>The Book of Mormon</i> since its release. All of these developments happened by attending monoculture Christian schools, intent on forcing ideology and correct practice onto their students. A few questions arise from this: first, how are Christian schools repressive, and how did they become so? Second, how did they mess up in properly indoctrinating me?</p>
<br>
<p>To help us understand the first question, sex ed. expert Mr. T and French philosopher Michele Foucault take us back in time to the sexless age of <i>Jane Eyre: </i>17<sup>th</sup> century Victorian England. </p>
<br>
<p>Foucault hypothesized that institutional sexual repression began here, in the powdered and frilled bourgeoisie. <sup>1</sup> In later centuries, this repression was channeled into prevalent Christian discourse on sexuality, where everything but the act itself was discussed. Sex is passed through the, “endless mill of speech”, intended to wrap, package, and label it for no further examination. <sup>2</sup> Attempting not only to understand, but to <i>legislate </i>the inconceivable. </p>
<br>
<p>Here’s where Mr. T comes in. On principle, Christian Sex Ed. never mentioned STDs, unplanned pregnancy, or forms of contraception. These evil routes weren’t a part of God's plan for his children. Foucault’s “endless mill of speech” strikes again as the head-spinningly complex becomes overly simplified. </p>
<br>
<p>Award-winning author Cheryl Strayed took notice of a similar phenomenon in her essay, <i>The Love of My Life, </i>writing,” We like to say how things are, perhaps, because we hope that’s how they might actually be. We attempt to name, identify, and define the most mysterious of matters: sex, love, marriage, monogamy, infidelity, loss, grief. We want these things to have an order, an internal logic, and we also want them to be connected to each other.”<sup>3</sup> Granted, Strayed is referencing infidelity in her marriage due to the tragic death of her mother. But she taps into the same, brilliant, notion of the mill that Foucault pointed out, except she is expanding the definition. Not only does sexual repression lead to over-simplification, but grief does as well. </p>
<br>
<p>The lives of Strayed and Foucault were years and miles away from my own education. Yet, their observations help me to understand the rules and dynamics that undergirded it. </p>
<br>
<br>
<p>Coastal Christian High School was a one-story red brick private Evangelical Christian high school of two hundred students. It has raised the finest sons and daughters of Wilmington doctors since 2005. The administration were masters of the “mill”, meaning that they utilized Foucault’s over-simplification tactic to explain <i>everything</i>. Race, sexual orientation, politics, world hunger, global warming, drug pandemics. All of it: boiled down to one word. Sin. </p>
<br>
<p>For a bunch of sinners, the boys at my high school lunch table looked suspiciously like Leonardo di Vinci’s <i>The Last Supper. </i>We sat at a spacious rectangle, away from the circular tables congregating the center of the gym. Kevin was the resident anime expert, also renowned for having an extra nipple; he leaned back with nothing but a half-empty family size bag of knock-off potato chips. To his left, Oliver sported a hairstyle that he insensitively referenced to as “Jew fro”. He was in his own world, eating canned Vienna sausages doused in filmy liquid. John looked like a young Rick Moranis with poofier hair and a tray of Cajun fries. He ignored them, concentrating on stealing Kevin’s chips. </p>
<br>
<p>Whenever the topic of discussion was sex, everyone paid attention. Kevin claimed to have eaten a girl out once, a view he compared to a “fucking huge pastrami sandwich.” At one point, John spread the rumor that he had laid with the hottest girl in school, on top of a grand piano, while her grandmother slept upstairs. In our naïveté, we called him “piano man” for months afterward. Oliver would throw in words like “bodacious” and “voluptuous” into conversation, but he was obsessed with the Confederacy and the crusaders, so we knew his opinion wasn’t worth much. </p>
<br>
<p>Our strain of weird, sexual curiosity wasn’t unique to Christian schools, but it was certainly prevalent there. Regardless of limitations that the administration enforced, sex existed and became mythologized for many Coastal students. Sexual curiosity in Christian schools isn’t a new phenomenon. A Notre Dame study showed that fifty-seven percent of theologically conservative young people disagreed with the stance of “waiting until marriage”.<sup>4</sup></p>
<br>
<p>And these results are modest when compared to other studies. An analysis of polls collected by the National Campaign to Prevent Teen and Unplanned Pregnancy found that 80 percent of unmarried evangelical young adults claimed to have <i>engaged </i>in sex before.<sup>5</sup></p>
<br>
<p>Eighty percent. So, everyone was having sex, and our table was just shooting in the dark. That everyone around us was having sex explains why the administration levied certain restrictions on us. </p>
<br>
<br>
<p>I walked through claustrophobic hallways before first period assembly, my eyes dutifully dodging towards the tile ceiling as girls bent towards their book bags. Copies of <i>The Scarlet Letter </i>were visible in some lockers; standard readings for Junior AP Language classes. Teachers held the gym doors open; a horde of dress-code shirts and knee length blouses filled the bleachers. Frigid, sanitized air belted the rows of students; an office lady took to the microphone stand to the center of the gym. </p>
<br>
<p>Our mascot was painted at center court. Bearing armor and frills, the centurion’s aura enhanced the little woman’s presence; her words carried greater weight as his sword rose above her head. She bore news directed at one half the student body: there were new restrictions on women’s garments, meaning longer skirts and certainly no more leggings. “We believe these choices to be in the best interest of the school. Through this, we hope to minimize the distractions for our brothers in Christ.”</p>
<br>
<p>I was shocked as I heard this—I couldn’t believe someone would kick me in the back like that. Turning to face the row behind, I grabbed Kevin’s leg with both arms, holding it as the speech continued. A few aisles over, Sammy Wadsworth thought she was going to have an aneurism. Sporting a look of disbelief, she turned to her friend, mouthing the words, “<i>Minimize distractions?” </i>What kind of screwed gender dichotomy is this? This isn’t why she wanted to come to Coastal- this wasn’t part of the plan. </p>
<br>
<p>A Junior transfer student from Philadelphia, Sammy loved Coastal but was cognizant of its flaws. Most of all, she abhorred her “Women of Excellence” class. Hoping to learn more about Biblical integration and faith in the real world, she was disappointed to find a world of vacuous explanations and fake cheer. The class had to keep a journal of thoughts and reflections, a gift that they were encouraged to present to their future husband.<sup>6</sup> </p>
<br>
<p>“What the fuck does that even mean?” Sammy’s journal held more expletives than Bible verses. The fawning teacher had informed the class to “hold true to Christ” for the fifteenth time. Sammy was keeping score. The teacher erased the board, her anecdote about feminine pride and the Samaritan woman cut short. Now they were back to premarital sex: another score category in Sammy’s journal. Seven tally marks became eight and Samantha hid her pen in desperation. What does this have to do with anything? The sounds of raucous hollering filled up her small classroom, emanating from the hallway. The” Men of Honor” class had ended fifty minutes early; they were heading outside to play kickball.<sup>7</sup></p>
<br>
<br>
<p>As some sought to deepen their walk with God, this goal became periphery for me. As my general paranoia increased, my spiritual relationship took a blow. It may have also had something to do with the afternoons I was spending in Phil’s highly-ventilated attic. </p>
<br>
<p>Weed played an integral role in many circles of our student life. Thomas Barnett, part of my graduating class, was exposed to marijuana through his friends. He began smoking his senior year while he was on the basketball team. Afraid that he would lose his spot on the if he was caught, he guarded the secret closely.<sup>8</sup> In an interview with Thomas, we discussed the repercussions of the schools most fateful decision regarding pot. </p>
<br>
<p>When Hunter Edwards was expelled, the administration was tested. The previously subsurface drug culture was blown clean out of the water. He was popular, a drummer on the worship band, and had been caught with marijuana residue on his tobacco pipe. The police dogs discovered it in his car during a routine drug bust. The small student body, having nothing better to do, scrambled to understand what happened. We became an ocean of whispers, faulty information thrown out like fish food off boardwalks, interrogating anyone who had a connection with him. Faculty prowled the hallways, keen on shutting down any rumors and sending students back to class. Another assembly was held, and the principal re-iterated the school’s rules: “This campus will not tolerate illegal drugs.” When students went home Hunter went with them, his name thrown around during dinner table conversation. At a school of 200, word gets around. </p>
<br>
<p>The administration was tested during Hunter’s expulsion, but they didn’t fail until months later. Another drug bust, with different results. Michael was a year younger than Hunter, and the two had been friends. When Michael was caught with marijuana on campus, there was no expulsion. There was no scene. His parents were doctors, and the school needed money. The administration could see if it could work something out, and Michael showed up at school a week later. </p>
<br>
<br>
<p>Gabriel Lovejoy writes to me from Savannah, Georgia, where he currently teaches painting at an arts and design college. Before he secured that job, he was my art teacher for four years. We met and became friends at Coastal, where he was somewhat of a therapist for all the students that passed through his doors. Calm, engaging- his bald head nodding slowly as you unload the weight of your story: the family struggles, the peer pressure, the cutting, the parties, there is no sign of judgement in his eyes, no wrinkle of disapproval on his forehead. Lovejoy was able to understand us because he was weird. During his high school in the early nineties, he formed a punk band called Wretched Son and collected his toe nails in a Mason jar. </p>
<br>
<p>He writes to me, speaking on his time at Coastal, saying,” I don’t consider myself evangelical so it has been difficult at times because Coastal was founded on the idea of, first and foremost, spreading the gospel. I prefer to let students arrive at their own conclusions once they are introduced to Christianity.”<sup>9</sup></p>
<br>
<p>I met with him during my freshman year of college. Still teaching art at Coastal, he also juggles three other jobs to support his wife and two young sons. Wearing light grey Vans, and a herringbone porkpie, he should be a college professor. I tell him that, but he waves me down. “There’s time for that later,” he says, reaching over the counter to buy my coffee. </p>
<br>
<p>He regales to me about the young, bright AP students coming to him, experimenting with abstract and photorealism. He is the reason that I pixelated Kanye West and painted him, abstract, on top of Peter Paul Rubens’s <i>Descent from the Cross. </i>Lovejoy made me weird, and he let me explore the world without simplification. </p>
<br>
<p>As I sit across from Lovejoy, I realize that I can’t quantify the effect that Christian education has had on me. I should err away from Foucault’s mill, and just allow it to be as confounding as it is. Lovejoy raises his black coffee, a cheer to the end of my first semester, as we talk of his upcoming students.</p>

<br>
<br>
<hr /><p>(1) Michel Foucault, <i>The History of Sexuality Volume I: An Introduction,</i> (New York, Pantheon, 2978) 17. </p>

<p>(2) Ibid., 20-21</p>

<p>(3) Cheryl Strayed, <i>Love of My Life, </i>from the <i>Touchstone Anthology of Contemporary Creative Nonfiction (</i>Touchstone, 2007) 503. </p>

<p>(4) Justin Farrell<i>, "The Young and the Restless? The Liberalization of Young Evangelicals." </i>(Journal for the Scientific Study of Religion, 2011) 526. </p>

<p>(5) Tonya Somanader, "Study: Majority of Young Evangelicals Have Pre-Marital Sex, Exposing Flaws with Right-Wing Attacks On Sex Ed." (ThinkProgress, 2011)</p>

<p>(6) Sammy Wadsworth, Phone Interview.</p>

<p>(7) Ibid.</p>

<p>(8) Thomas Barnett, Phone Interview.</p>

<p>(9) Gabriel Lovejoy, E-mail Interview</p>

        </div>
        <div class="code-arrow-container">
            <a class="white-arrow" href="writing"><img src="images/svg/white-arrow.svg"></a>
        </div>
        </div>
</div>