<div class="container code-container" id="code-container">
        <div class="centered-container code-text">
        <h2>Personal Website</h2>
        <p>In the summer of 2019, I studied abroad in Copenhagen and took the course Modern Web Development. On my return, I built this website using the skills that I had learned. I designed the site in Adobe XD before creating it, and I made all of the vector graphics in Adobe Illustrator. I wrote the code for the site in TypeScript, using React for the interactive portfolio and Express in the server. I learned how to build and test the site using Parcel and ultimately ended up hosting the site on AWS. I thoroughly enjoyed creating this site and hope to make many more in the future!</p><br>
        <p><strong><em>View on Github: </em></strong><a href="https://github.com/masonmcm/Personal-Website" target="_blank">Personal website</a></p>
        </div>
        <div class="code-arrow-container">
            <a class="white-arrow" href="code"><img src="images/svg/white-arrow.svg"></a>
        </div>
        </div>
</div>