<div class="container writing-container" id="writing-container">
        <div class="centered-container writing-text">

<h2><i>Offerings (2017)</i></h2>
<p><em>An essay about witnessing the deaths of multiple animals- my final project for ENGL283: Life Writing.</em></p>
<br>
<br>
<p><b>“SCENE 1: ‘Introduction’</b></p>
<br>
<p>The vets’ clinic smelled of chlorine. The ‘Stench of Death’, trademark Febreeze, lingered in the air. Interestingly, it was comprised of three aromas: wet animal, Germ-x, and a hint of urine. The waiting room was beach-themed— seafoam chairs on baby blue tile. Pictures of seashells hung between framed diagrams of dog anatomy.”</p><br>

<p>Our whole family was there, sitting in chairs like we rarely did at the dinner table anymore. Dad, usually silent, was extra nonverbal. Caden, six years old, made sputtering machine-gun noises, imagining the Ninja Turtles dueling around us. Mom had started early, rogue tears falling down her cheeks. I turned to Tori. </p><br>

<p>‘Why isn’t there a window?’ My older sister looked at me, confused. Were we allowed to talk? ‘Aren’t these types of rooms supposed to have windows?’, I asked again. Her mouth was slightly agape.</p><br>

<p>‘Uh, I guess.’ Her whisper was forced. She turned her gaze to the brown door, and we adapted back into our roles. The characters we played, typical TV show depictions of an American family, waited for the nurse to enter. They waited to see their dead dog. </p><br>

<p>‘Can we say a quick prayer?’. The silence broke as Mom spoke through her tears. ‘I’ll start, whoever wants to tack on can follow.’ She steadied herself, clutching the armrests. ‘Dear Lord, we thank you for everything Maggie has been to us.’ A large, all-encompassing breath. Continue. ‘God, she has been such a part of our family for twelve years, if dogs can go to Heaven I pray that you would accept her take her there…’ But her voice faded as my eyes opened, and I returned to scanning the room. </p><br>

<p>Maggie was presented to us and my family was stellar in reaction. They were perfect: crying, stroking her, rocking her body back and forth. I watched my mother cradle the animal, fresh tears falling fast. The white shock of poodle hair was obscured as Tori rose to pay respects. I was following now, laying my hand on her too. </p>

<p>But the studio audience wasn’t happy with us. The waiting room opened up to ordered stands, filled with the lucky people who got to witness this week’s taping. They were booing the family, and it echoed across the set. That man in the T-shirt, no not him the young one—his eyes were dry! Didn’t anybody read him his queues? My God was this kid even able to read a script before going up? He’s blowing the entire scene, and he doesn’t even know it!</p><br>

<p>At a bible study years later, I watched a group of college students debate death and the afterlife. What ensued was a forty-minute discussion on whether or not God would allow football in Heaven. So maybe no one ever taught me of the vast emptiness that death leaves in its place, or maybe it’s something that can’t be taught. No one gave me my queues. Apparently, you have to experience death in order to play your part convincingly. </p><br>

<p>My dog’s death congealed into a mass of unanswered questions and empty worries that scabbed over and itched. I had known it was going to happen. We had all known, since the day twelve years prior, when we drove out into the barren North Carolina wilderness. It was in the fine-print of the written contract, given to us by the straw-hat man that bred her: <i>Your dog will die from bone cancer on May fifth, two thousand and fifteen. </i>But we took her home anyway. Nobody reads those things. Tori swaddled her in a blanket while we brainstormed names. As the sun fell and our car pulled into the garage, our bubbling family had settled on ‘Maggie’. </p><br>

<p>Maggie’s entrance into our lives didn’t reflect her exit. Maybe that’s because we were thinking about her exit the whole time. Raising Maggie was like watching <i>The Bachelorette</i>, or going on a Florida vacation in July: we knew what we’d signed up for, but were somehow still surprised when we got it. </p><br>

<p>Maggie was dead, but two months later our family would go on to buy another dog—this one with black fur. Molly too, will die, just like her forbearer. </p><br>

<p>Perhaps I’ll be able to cry then. Molly, like Maggie, loves her family unconditionally. She improves upon their lives and makes them laugh, showing the undeniable empathy that many dog owners will attest to. When she dies, I’ll sob knowing that it was useless. </p><br>

<p>They offered up everything they had, and received pentobarbital injections in return. </p><br>
<br>
<p><b> SCENE 2: ‘Offerings’</b></p><br>
<br>
<p>Cruel sunbeams lit up the living room, oblivious to the current situation. Hours earlier, members of the family had left the vet’s office in separate cars. Now, Mom stood here alone, staring at the three couches in a half-moon. Bending over, ignoring her back pain, she picked up a patterned poof. A few strides across the room, now it was in its rightful place, on the solid-colored couch. Wait- where did that pillow come from? A purple one, encroaching space on the green couch. It looked odd against the heaped blankets- move it over to the brown couch. Her foot hit something as she reached out to get the offending pillow. Maggie’s ramp, to help her get up on the couches. A deep breath. Mom grabbed the pillow, and looked around to find me watching her from the kitchen. </p><br>

<p>‘Oh Mason, there’s some steak in the fridge if you want to grill it for lunch.’ Then she was back to organizing.</p><br>

<p>America: where you can kill your dog,<i> and</i> eat slaughtered calf, all in one day. Dumb to the irony, I took the steak outside.</p><br>

<p>My backyard was a sprawling slope of unkempt grass, interrupted by a weather-worn picket fence years away from its original red stain. Behind it, trees narrowed the distance between the earth and the sky. A forest pushed back as far as you could see. On the patio, I set a pair of tongs and plate of red meat. Crafted out of imitation wood sporting a few rogue dandelions, it is simple. But the grill owned this land. It was a steel monster, a thick, ribbed metal suitcase that had been collecting dirt since the nineties. It’s commanding name, the <i>Broilermaster</i>, was emblazoned next to the temperature gauges. </p><br>

<p>I stooped down behind it, flipping up the blue switch buried in shrubbery. The sound of petroleum gas filling up the chamber above me. The circular opening in the armor of the grill, it beckoned for a match. Match 1 failed to light, as did the second. Match 3 found its way inside the opening and we were, for lack of a better idiom, cooking with gas. </p><br>

<p>Moments passed before I was hit by a wave of acrid smoke. The grill cover was flung up to reveal a ball of flame the size of a cantaloupe, a package of pine straw and twigs being reduced to ash. The coals, cackling with energy, glowed black and orange. The metallic aroma of gas pushed itself down my throat, mixing with the earthy stench of dirt and something I couldn’t identify. Plumed smoke flew up into the blue sky, black on light blue. The fire died down quickly in the breeze. </p><br>

<p>A hand reached towards the smoking bundle of dust, a section disintegrated to my touch. Specks of dirt shone against white skin. A second hand willed itself to move. Feet, powered by curiosity and dread, shuffled forward. A head, carrying me, peered over the side of the grill. </p>

<p>I took a moment to greet the five baby birds I had just burned alive. </p><br>
<br>
<p><b> SCENE 3: ‘Penance’</b></p>
<br>
<p>My mom was going to be pissed. She loved birds, kept overflowing stocks of birdseed to regulate her three birdhouses. Constantly, she was calling family members into the dining room. ‘See guys, look!’, pointing to all the cardinals flocking around her handiwork. So she was going to be pissed. </p><br>

<p>The living room was empty, I could leave without seeing her. What would she say? What would my Dad say? We had never talked about protocol for this sort of event— our family’s closest brush death happened a few hours ago. Should I pray? Should I be crying right now? Should I call animal control? God, I should have cleaned the grill like dad always told me. Should I pray? No, I need to go. </p><br>

<p>With the speed and immediacy of a warranted murder, I skipped town. My house grew small as I pedaled faster. The incriminating evidence was draped in a grocery bag over the handlebars, swaying with frantic momentum. They were Daniel and the three brothers, sweating it out in the fiery furnace; but in this rendition, God didn’t show up. Now, they could’ve been served at any of Wilmington’s seedier barbeque joints. I biked past the cookie-cutter homes, idyllic bushes, beds of pine straw meticulously arranged. A group of children running through sprinklers, did they know I was out to hide bodies? </p><br>

<p>My destination: the conserved forest behind the development. Originally for displaced animals, it had become overrun with stoners and other invasive species. Empty Coronas, hurled from passing cars, clogged the streams. Crumpled bags ofFunyuns bags and cigarette butts added specks of color. I had discovered the place out of bored adventuring. Today, I would put it to use. I stowed the bike behind a sickly patch of reeds, continuing on foot. Spade in one hand, birds in the other. </p><br>

<p>I found a small clearing, too deep to be touched by consumer waste. Two streams converged; out of it rose a mound of earth laced with roots. This would do. Legs buckled, knees ground into the dirt, I began to dig.</p><br>

<p>The grocery bag lay open to my side. Grimy hands tenderly reached in, knowing what was coming. Their papery skin came off to the lightest touch. Black eyes were barely visible, grafted over by charred flesh. Remnants of miniature wings broke like twigs. They were laid next to each other, as they were found, and then covered in dirt. Sifting through the forest floor, I searched for sticks. I felt the weird compulsion to fashion a crucifix, to position it above their grave. As if the deceased had known God in the first place. Unable to force sticks to stand as a cross, I settled for one drawn in the soil over their bodies. I said a prayer, and I asked for forgiveness. My apology was not for God. No, I prayed forgiveness from their mother. A week later we received Maggie’s ashes in a wooden box. </p><br>

<p>It doesn’t matter if right now those baby birds are in Heaven in the arms of Jesus because right now their bodies are decomposing on earth. I wonder if Heaven is just a story we tell ourselves to put make-up on death, because in its natural form, I can’t bear to look at it. I doesn’t matter that I buried them in the most beautiful spot I could find, because it didn’t spare me from thinking about them. </p><br>

<p>My mom told me not to worry, that it was a mistake- it could happen to anyone. But one day, I thought I heard the pained caws of the mother, emanating from the forest.</p><br>

<p>If I told my Bible teachers about it they would feign interest. God’s kingdom doesn’t have time for baby birds: there are people to save. If I told my friends they couldn’t help. Was this childish? Do I become vegan now? Should I simulate a breakdown and leave the faith forever?</p><br>

<p>Simultaneously, doctors were treating me for a medical condition through noise exposure, medicines, therapy. But the incessant ringing in my ears only grew worse. ‘Tinnitus’, they said, ‘can reach noise levels like those of a jumbo jet. But it’s all in your head.’ Some nights, I would cover myself in sheets, protection from the dark, while imaginary sirens kept me up. </p><br>
<br>
<p> <b>SCENE 4: ‘History’</b></p>
<br>
<p>Ten years before I ever touched a grill, ten years before I saw my dog pass, I lived in a different neighborhood. The houses were more individualistic, but it still could’ve passed for a sitcom set location.Ours was pink brick— my favorite color—and the door was painted like an avocado. It sat outside the mercury bead of a long, thermometer-shaped cul-de-sac. Most of my friends lived on the other end, but before 3:45 there was no one out to play anyway. My sister and I were the only homeschoolers, so I usually played tennis alone in the driveway during recess. </p><br>

<p>My mom let me out early that day, math could be finished after I came in. After a series of hopelessly botched rallies with my friend the garage door, I paused to take in my surroundings. Our house could have been made of gingerbread. It had the simple, boxy format- the evenly spaced windows. No sight of mom calling me back yet. Those marks on the garage door, they’ll probably come off in the rain. </p><br>

<p>Something else: a minute smudge of orange and black against the grey concrete. Upon closer inspection, a stinkbug— antenna twitching and wings shuffling cautiously. In a moment of youthful inspiration; I kicked the racquet up into my palms. With a leap, I brought the racket down like a broadsword on the unsuspecting bug. </p><br>

<p>I hadn’t anticipated the bug to survive my attack, and this raised ethical complications. I stood before the remains of the stinkbug, one antenna ripped to the side, writhing in a seizure-like state. My racket drooped. The bug squirmed as I panicked to think of its fate. It is possible, I reasoned, that the bug could be cared for. If he could limp home- crashing through the door of his straw burrow while his wife drops the pot she was holding, the kids all scream- his family would care for him. Papa would be laid out with bandages while Mama fed him more hot soup and tended to his wings. The children would read him funny stories from chairs next to the bed. </p><br>

<p>All of this sounded hopeful, but the bug in front of me was in no shape to walk. As I kneeled, I realized that its family wouldn’t know their Papa was hurt, wouldn’t know to come out with stretcher and bandages, couldn’t be able to save him. I made up my mind behind clenched teeth. My eyes stayed on the bug as I took the butt of the racket and ground it into the pavement. Then, I went inside and finished my math homework. </p><br>

<p>If you had asked me to explain death when I was eight, I would have told you about Heaven. You could watch an unbearably self-assured child explain that when you die, you’re gonna go up to be with God and all the dogs and cats and bugs that died before you. My fears about the agony of departure were assuaged by the delightful message that at least it wouldn’t be permanent. Incomprehensible pain, but there’s a big party afterwards.</p><br>

<p>This ideology is common amongst Christians that I’ve met, understandably, because it is the core tenant of the New Testament. What I didn’t know, was that the man whom my religion reveres as a Saint also cashed into this same belief system to an utterly fanatical degree. St. Augustine was quoted often in my Christian education, but never once from his letters concerning Christian heretics, where he openly advocated for their ‘suffering persecution’. Augustine so deeply believed that Hellfire awaited non-believers, that he called for violence against their physical bodies for the preservation of their eternal souls. </p><br>

<p>All of which leads me to question: if life is to be as unbearable as that, is Heaven even worth it? And if we can’t comprehend what awaits us post-incineration, post-tennis racquet, post-bone cancer, if we don’t know what happens to us after we die, how should that change the way we live? </p><br>
<br>
<p> <b>SCENE 5: ‘Conflict’</b></p>
<br>
<p>The bird never stood a chance. It must have believed it was but a photon of light, must have thought it could shine through the pale glass as easily as the rays of sun. Its neck broke on impact, its feathered body exploded against the dining room window. The body rendered useless plunged downwards and crumpled against the green cement. It lay motionless, feet from my mother’s stacked bags of birdseed.</p><br>

<p>I thought we were under fire. My little brother’s troop of militant 2<sup>nd</sup> graders often staged Nerf operations in our backyard, he must have done something to offend them. My AP government study material splayed before me on the dining room table, I glanced out back. Baby feathers clung to a smudged spot on the windowpane. I rose from my seat and went out the backdoor and there it was.</p><br>

<p>A chickadee. It was a chickadee. </p><br>

<p>‘Oh, how I love them!’ My mom would point like a child at an aquarium. ‘Look at all of them go!’ The little grey birds with their black heads and white bellies would dart around her birdbath, dipping in, thrusting their beaks, ruffling their feathers. Chickadees had been her favorite bird since she picked up a Birds of North Carolina guidebook.</p><br>

<p>It was a chickadee, so I yelled for my mom. </p><br>

<p>But she wasn’t home, so I did it myself. Crouched next to the bird, frantically searching ornithology forums, keywords: ‘what do you do when a bird flies in your window?’, animal control sites, anything I could get. From various sources, I gathered enough information to transform the battered Converse shoebox and the paper towels into a chickadee rehabilitation container. </p><br>

<p>With brain-surgeon hands, I transferred the bird into the box. The ringing in my ears was building to a crescendo. The white belly rose and fell, maroon fluid building up in its marble eye. The chickadee had room to spread out, a miniature water bowl to stay hydrated, and numerous air flaps to provide it oxygen. Its box was placed in my room with the blinds shut: concussed birds are supposed to be left alone in their dark so they don’t spook. Animal control wasn’t available to call, they didn’t do rescues on Sunday. But it’s ok— I knew what I was doing.</p><br>

<p><i>1. Wash your hands after you touch a bird, they can carry numerous pathogens. </i></p><br>

<p>Easy.</p><br>

<p><i>2. Don’t give the bird any food or water, as birds have very specific diets. </i></p><br>

<p>Don’t give it any water? My bird probably isn’t leaving any time soon, it needs water to survive. That’s stupid. </p><br>

<p>3. <i>Don’t check on the bird, because the light may cause it to move and enter further harm. </i></p><br>

<p>But this bird is really hurt! I need to follow up on it and make sure that it’s still alive!</p><br>

<p>4. <i>When you hear movement from the box, move it outside and release the bird back into the wild. </i></p><br>

<p>Easy. Give it a couple of days. </p><br>
<br>
<p> <b>SCENE 6: ‘Resolution’</b></p>
<br>
<p>‘Mason, come downstairs, we’re going out for dinner.’ My dad was yelling from downstairs. </p><br>

<p>I sat at the desk, the shoebox before me. I wanted to say no to him, but couldn’t. I settled on not saying anything. </p><br>

<p>My brother poked his head through my door. ‘Mason dinnertime.’</p><br>

<p>I couldn’t sit here watching a bird forever. This wasn’t helping anybody. Changing out of my sweaty t-shirt and athletic shorts and donning a nice shirt. Walking out of the room with a backwards glance paid to the shoebox, I abandoned my post. Sushi, sodas, lively conversation. </p><br>

<p>When I returned, hours later, the bird’s chest was static. </p><br>

        </div>
        <div class="code-arrow-container">
            <a class="white-arrow" href="writing"><img src="images/svg/white-arrow.svg"></a>
        </div>
        </div>
</div>