* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.white, .yellow, .blue, .red {
    display: none;
}

.name-design {
    margin: 10px; 
}

.portfolio-container {
    display: flex;
    justify-content: center;
    align-items: center;

}

.portfolio {  
    width: 100%;
}


.header {
    display: flex;
    padding: 10px 30px 30px 30px;
    align-items: center;
}



.nav, .name-button {
    display: flex;
    flex: 1;
    align-items: center;
}

.name-button {
    justify-content: flex-end;
}

.gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}


.gallery-row {
    display: flex;
    justify-content: space-around;
    margin: 20px; 
}

.gallery-image {
    width: 40%;
}

.circular-nav-button {
    width: 30%;
    /* margin-bottom: 25px; */
}


.nav-bar {
    width: 30%;
    max-width: 140px;
    min-width: 110px;
    padding-left: 10px;
    padding-bottom: 25px;
    /* border: 1px solid red; */
}

.name-button-image-white {
    display: none;
}

.nav-bar-mobile {
    display: none;
}

.pop-up-image {
    display: none;
    top: 300px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;   
    position: absolute;
}

/* .gallery-container{
    border: 1px solid red;
} */



/* Mobile Styles */
@media only screen and (max-width: 415px) {  
    .nav-bar-mobile {
        display: block;
        background-color: white;
        padding-bottom: 10px;
        margin-bottom: 25px;
    }

    .name-button-image {
        min-width: 240px;
    }

    .nav, .nav-button-image, .nav-bar {
        display: none;
    }

    .header {
        display: flex;
        justify-content: center;
    }

    .name-button {
        justify-content: center;
    }


    .nav-row-mobile {
        display: flex;
        justify-content: space-between;
    }

    .nav-button-mobile {
        margin: 20px;
        width: 30%;
    }

     /* Landing Page Styles */
     
    .grid-item {
        margin: 12px;
    }

    /* Portfolio Styles */

    .nav-button-image {
        width: 30%;
        min-width: 100px;
    }
    
    /* .name-button-image {
        width: 40%;
        min-width: 150px;
    } */
    
    .gallery-container {
        padding-top: 25px; 
        min-width: 240px;
    }


    
    .gallery {
        width: 30%;
        min-width: 300px;
    }
    
}
  
  /* Tablet Styles */
  @media only screen and (min-width: 415px) and (max-width: 960px) {
    /* Landing Page Styles */

    .landing-page-container {
        display: flex;
        min-height: 100vh; 
        justify-content: center;
    }

    .landing-page {
        flex: 1;
        max-width: 590px;
    }

    .nav-row {
        display: flex;
    }

    .name-design-container {
        display: flex;
        justify-content: center;
    }

    .name-design {
        width: 60%;
        height: 60%;
        padding-bottom: 50px;
        padding-top: 50px;
    }
    
    .grid-item {
        height: 10%;
        width: 10%;       
        margin: 20px;
        flex: 1;  
    }

     /* Portfolio Styles */

     .nav-button-image {
        width: 30%;
        min-width: 100px;
    }

    .name-button-image {
        width: 40%;
        min-width: 150px;
    }

    .gallery-container {
        padding-top: 50px; 
    }

    .gallery {
        width: 40%;
        min-width: 338px;
    }
  }
  
 /* Desktop Styles */
 @media only screen and (min-width: 961px) {
     
    /* Landing Page Styles */

    .landing-page-container {
        display: flex;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }

    .landing-page {
       display: flex;
       flex-direction: row-reverse;
       flex: 1;
       max-width: 1024px;
       padding-bottom: 100px;
    }
    

    .nav-grid {
        flex: 1;
    }
    
    .nav-grid-container {
        flex: 1;
        display: flex;
        align-items: center;
    }

    .nav-row {
        display: flex;
        flex: 1;
    }
    
    .grid-item {
        margin: 10px;  
        flex: 1;
    }

    .name-design-container {
        display: flex;
        flex: 1;
        max-width: 450px;
        margin-left: 15px;
        /* border: 1px solid red; */
    }

    .name-design {
        margin: 0 auto;
        flex: 1;
    }

    /* Portfolio Styles */


    .nav-button-image {
        width: 30%;
        max-width: 140px;
    }

    .name-button-image {
        width: 35%;
        min-height: 125px;
    }

    .gallery-container {
        padding-top: 100px; 
    }

    .gallery {
        width: 40%;
        min-width: 350px;
    }
  }